/*CSS for update fields*/

input {
  border: thin solid #D6DBE0;
  border-radius: 5px;
  padding: 6px 0 6px 10px;
  margin: 0 5px 0 -10px;
  color: #908181;
  max-height: 37px;
}

#submit-workout{
  margin: 12px 0 20px 0;
}

.update {
  margin-left: auto;
}

.update-button{
  max-width: 100px;
}

.update-check-box{
  text-transform: initial;
  min-width: 30px;
}

.form-control{
  margin: 10px 0 10px 0 !important;
}

.lbs-form-radio{
  min-width: 120px;
}
